.1.sh
Server/*_srv/*_srv
!Server/game_srv/so_game_srv
*.so
\#*
CMakeCache.txt
CMakeFiles/
*.meta
TAGS
cscope.*
compile_commands.json
Makefile
cmake_install.cmake
libgame.a
*~
.svn/
Server/proto/*.pb-c.h
Server/proto/*.pb-c.c
Server/proto/msgid.h
*.d
*.o
*.html
*.pyc
*.bak
*.log
pid.txt
*.tgz
*.lo
*.la
server_info.ini
*.tar.gz
*.spb
*_pb2.py
logs
Server/game_srv/liblog4c_sd.a
Server/print_name
memerr.txt